{%  load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body class="sb-nav-fixed">
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div id="errors">
                        {% for error in errors %}
                            {{ error }}
                        {%  endfor %}
                    </div>
                    {% block content %}
                    {% endblock %}

                </main>
                {% include 'footer.html' %}